<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>React Js</title>
    <link rel="stylesheet" href="../css/cursos.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="#">menu</a></li>
                <li><a href="#">menu</a></li>
                <li><a href="#">menu</a></li>
            </ul>
        </nav>
        <h1>Curso Programacion</h1>
    </header>
    <h1 class="h1">CURSO DE VUE JS</h1>
    <aside>
        <h2>Registrate</h2>
        <form action="#">
            <div>
                <label for="nombre">Nombres</label>
                <input type="text" class="input" placeholder="Ingresa Nombres">
            </div>
            <br>
            <div>
                <label for="Apellidos">Apellidos</label>
                <input type="text" class="input" placeholder="Ingresa Apellidos">
            </div>
            <br>
            <div>
                <label for="telefono">telefono</label>
                <input type="number" class="input" placeholder="Ingresa telefono">
            </div>
            <br>
            <div>
                <label for="correo">correo electronico</label>
                <input type="email" class="input" placeholder="Ejemplo@gmail.com">
            </div>
            <br>
            <div>
                <label for="fecha">Fecha Nacimiento</label>
                <input type="date" class="input">
            </div>
            <br>
            <div>
                <label for="genero">Genero</label>
                <select class="input" name="gener">
                    <option value="">----Elije tu genero----</option>
                    <option value="femenino">Femenino</option>
                    <option value="masculino">Masculino</option>
                    <option value="otros">otros</option>
                </select>
            </div>

        </form>
    </aside>

    <section class="container">
        <div class="detalle">
            <img src="../img/vue.jpg">
            <h4>React Js</h4>
            <p>Fecha: 30 nov 2021 hasta 20 Dic 2021 </p>
            <p>Este es un curso desde cero a pro</p>
            <a href="https://www.youtube.com/watch?v=GAQB7Y4X5fM">Ir A video</a>
            <p><span>Objetivo:</span>Desarrar todo el contenido que brinda react </p>

            <ol>
                <h3>Temas</h3>
                <li>Introduccion a Vue</li>
                <li>Declaracion de Variables</li>
                <li>Ciclos</li>
                <li>Condicionales</li>
                <li>Implementacion Componentes</li>
                <li>Que son Props en vue</li>
                <li>Como pasar datos de componente a componentes</li>
            </ol>
            <div class="redes">
                <a href="https://www.facebook.com/"> <img src="../img/face.png" alt=""></a>
                <a href="https://www.instagram.com/"> <img src="../img/insta.jpeg" alt=""></a>
            </div>
        </div>
    </section>
    <footer>

        <div class="otrocursos">
            <div class="sudcurso">
                <img src="../img/node.png">
                <h4>Node Js</h4>
            </div>
            <div class="sudcurso">
                <img src="../img/html.jpeg">
                <h4>HTML 5</h4>
            </div>
            <div class="sudcurso">
                <img src="../img/angular.jpeg">
                <h4>Angular Js</h4>
            </div>
        </div>


    </footer>
</body>

</html>